{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "icons": "./assets/icons",
          "images": "./assets/images",
          "validations": "./src/validations",
          "@": "./src/components"
        }
      }
    ]
  ]
}
